// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Navbar styling
.navbar-brand {
  font: TrajanSansPro;
}

.navigation {
  font: TrajanSansPro;
}
//Contact info styling
.contact_title {
  font: Trajan Sans Pro;
}
.info {
  font: Gill Sans;
  margin-left: 5%;
}
