// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#title{
	text-align: center;
	font-family: courier;
}

.mentee{
	height:400px;
}

.container {
	text-align: center;
}

.discussion{
	height: 400px;
}

.signup{
	position: absolute;
	margin-top: -250px;
	margin-left: -10%;
	font-size: 50px;
	color: white;
}

.discussion:hover + .signup{
	color: #277553;
	font-size: 75px;
	text-align: center;
}

.discussion:hover {
	border-color: #277553;
	border: solid;
	height:410px;
}
