// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//navbar

.navbar{
	font-family: "Trajan Sans Pro", "Roboto", sans-serif;
}

.navigation{
	font-size: 30px;
}

.navbar-brand{
	font-size: 24px;
}
#brand{
	font-size: 50px;
	font-family: sans-serif;
}

#title{
	text-align: center;
	font-family: "Trajan Sans Pro", "Roboto", sans-serif;
	margin-top: 1%;
}

.join_question {
	font-family: "Gill Sans", sans-serif;
	font-size: 18px;
}

.mentee{
	height:400px;
}

.container {
	text-align: center;
	margin-bottom: 5%;
}

.discussion{
	height: 400px;
}

// signup button
.signup{
	font-family: "Trajan Sans Pro", "Roboto", sans-serif;
	font-size: 24px;
	color: #cc9966;
	border-radius: 15px;
	border-width:thin;
	border-color: #cc9966;
	padding: 5px 20px;
	background-color:white;
}

button a{
	text-decoration: none;
	color: #cc9966;
}

button a:hover{
	color: #cc9966;
}


//Telemachus logo

.logo {
	height: 30%x;
	width: 30%;
	display: inline-block;
	margin-top: -2%;
}
