// Place all the styles related to the pairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hand_shake {
  height: 10px;
  width: 10px;
}

.choice {
  border: solid;
  border-radius: 10%;
  margin-bottom: 3%;
  width: 70%;
  text-align: center;
}
