// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//general stuff
.level {
  font-family: "Trajan Sans Pro", sans-serif;
  margin-top:0px;
  margin-bottom:0px;

}

h1 {
  font-family: "Trajan Sans Pro", "Gill Sans", sans-serif;
}

.input_box{
  border-color: #cc9966;
  borer: solid;
  height: 30px;
  width: 150px;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
}

.row {
  margin-top: 2%;
  margin-bottom: 2%;
  display: block;
}

.more {
  background-color: #cc9966;
}


//instructions
.instructions p{
  font-family: "Gill Sans", "Roboto", sans-serif;
  font-size: 25px;
}

//high school stuff
#high_school {
  font-family: "Gill Sans", sans-serif;
  display: none;
}

#title_high_school {
  display: none;
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 2%;
}

//undergrad stuff
#undergrad {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#title_undergrad {
  display: none;
  margin-top: 5%;
  font-family: "Gill Sans", sans-serif;
}

#undergrad_class {
  width: 100px
}

#resume_second_undergrad_major {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#resume_first_undergrad_minor {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#resume_second_undergrad_minor {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#resume_third_undergrad_minor {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#first_minor {
  font-family: "Gill Sans", sans-serif;

}

#second_minor {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#third_minor {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#second_university {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

//advanced degree stuff
#advanced_degree {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#title_advanced_degree {
  display: none;
  margin-top: 5%;
  font-family: "Gill Sans", sans-serif;
}

#graduate_studies {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

//job and career stuff
#jobs {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#title_jobs {
  display: none;
  margin-top: 5%;
  font-family: "Gill Sans", sans-serif;
}

#volunteer {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#title_volunteer {
  display: none;
  margin-top: 5%;
  font-family: "Gill Sans", sans-serif;
}

#certs {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#title_cert {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

//hobies
#hobby {
  display: none;
  font-family: "Gill Sans", sans-serif;
}

#title_hobby {
  display: none;
  margin-top: 5%;
  font-family: "Gill Sans", sans-serif;
}

//submit

.submit{
  font-family: "Gill Sans", sans-serif;
  height: 75px;
  width: 30%;
  color: white;
  background-color: #cc9966;
  font-size: 50px;
  border-radius: 10%;
  text-align: center;
}
