// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#expertise {
  display: none;
}

#description {
  display: none;
}

#career {
  display: none;
}

#submit {
  display: none;
  margin: auto;
}

.number {
  background-color: #449D44;
  margin-top:0px;
  margin-bottom:0px;
  border-radius: 90%;
}

.mentor {
  height: 100px;
}
